*{
    box-sizing: border-box;
}

body, html
{
margin : 0;
padding : 0;
}
.grid-container
{
    padding: 10px;
    height: 100vh;
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, fr);
    gap: 10px;
    grid-template-areas: 
    /* "header header header"
    ". content ."
    ". content ."
    ". content ."; */
}

.grid-item
{
    background-color: #62c8f0;
    padding: 10px;
}
.grid-item:nth-child(even)
{
    background-color: #abddea;
}
#grid-header{
    /* grid-area: header; */
    grid-column: 1 / -1;
}

#grid-content{
    /* grid-area: content; */
    grid-row: 2 / span 3;
    grid-column: 2 ;
}
#grid-footer{
    grid-column: 1 / span 3;
}

